<div class="comment" id="comment<%= comment.id %>">
	<%= link_to image_tag( 'billy.png', :class => 'ava_mini', :size => '30x30'), comment.user %>
	<p>
		<%= link_to (comment.user.name || comment.user.email), comment.user %>
		<%= comment.content %>
	</p>
</div>