<div class="picture">
	<div class="main">
		<%= link_to(picture) do %>
			<%= image_tag(picture.file_url(:thumb)) if picture.file.present? %>
		<% end %>
	</div>
	<div class="comments">
		
	</div>
</div>