<h1>New picture</h1>
<p><br>
	Add pictures by either finding them in a folder on your computer, selecting them, and dragging them on to the white box below, or click add files to add one picture at a time.
</p>
<%= render 'form' %>

<%= link_to 'Back', :back %>
