<%= link_to 'Back', :back %>
<div class="picture big">
	<div class="main">
		<%= image_tag(@picture.file) if @picture.file.present? %>
	</div>
	<div class="comments">
		<%= render @picture.comments %>
	</div>
</div>



