/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope. 
 //= require jquery.fileupload-ui
 //= require best_in_place
 //= require shadowbox
 //= require bootstrap
 *= require_self
 *= require_tree .
*/

#loading {
	top: 50%;
	margin-bottom: 25px;
	margin-left: 45%;
	margin-right: 45%;
	width:128px;
	height:128px;
	background-image: url(../assets/spinner.gif);
}

body{
	background-color:#ebebeb;
	color: #333;
	padding-top: 50px;
	
	background: url('paper.png') repeat; 
}
a img{border:none;}
a{color:#0000FF;}


#content {
	padding: 10px;
}

#header > a {
	
	position: absolute;
	right: 20px;
}

#header { position: relative; }


h1 {
	text-align: center; 
	color: #36c;
}

#flash { 
	position: fixed; 
	z-index: 100;
	margin-left: 20px;
	font-size: 18px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: #f89406;
	background-color: rgba(255, 255, 0, .5);
}

#logo {
	position: absolute;
	left: 50%;
	margin-left: -80px;
}

[class^="icon-"] {
	background-image: url('glyphicons-halflings.png');
}

.icon-white {
  background-image: url('glyphicons-halflings-white.png');
}

.navbar-inner .well {
	background-position: 0 -100px;
	padding: 1px;
	min-height: 0px;
	//margin-top: 5px;
	margin-bottom: 0;
	background: inherit;
}

.navbar .btn {
	margin-top: 3px;
}

.topbar-add {
	float: right;
}