// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment p a, .action p a {
	color: #555;
	text-decoration: none;
	//font-size: 14px;
	font-weight: bold;
	&:hover { text-decoration: underline; }
}

.comment p, .action p, .action form {
	margin-top: 0px;
	color: #666;
	margin-left: 42px;
	margin-bottom: 0;
}

.action p a { line-height: 30px; }

.action input[type=text] {
	width: 338px;
	height: 21px;
	padding: 4px 3px 3px;
	border: 1px solid #ccc;
	
	background: #FCF9F9;
	color: #8C7E7E;
	resize: none;
}

.big .action input[type=text] {
	width: 754px;
}

.action .btn {
	float: right;
}