@mixin polaroid {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
}

$gutter: 10px;

//$picture-size: 146px; // 5 columns
//$picture-size: 192px; // 4 columns
//$picture-size: 268px; // 3 columns
$picture-size: 388px; // 2 columns
//$picture-size: 876px; // 1 column

.picture { 
	float: left; 
	//margin-left: 28px;
	//margin-bottom: 28px;
	//overflow: hidden;
	//display: block;
	@include polaroid;
	background: #ebebeb;
	
	width: $picture-size + 48;
    margin: $gutter;
	
}

.big {
	width: 876px + 16;
}

.big > .main > img, .big > .main > a > img { width: 876px; }

.main a > img { 
	width: $picture-size;
}

.main {
	//margin-bottom: 200px;
	//padding-bottom: 30px;
	background: #fff;
	padding: 32px 24px 32px 24px;
}

.ava_mini {

	float: left;
	margin-right: 8px;
}

.comment, .action {
	border-bottom: 1px solid #ccc;
	padding: 16px 24px 16px 24px;
	font-size: 12px;
	min-height: 30px;
	display: inline-block;
	width: $picture-size;
}

#pictures {
	//display: table;
	position: relative;
	margin-bottom: 1.5em;
	//overflow: visible;
	//margin-left: -28px;
	position: relative;
	margin-top: 1em;
	//min-height: 700px;
	padding: $gutter;
}

.fileupload-content {
	min-height: 100px;
}


