@mixin polaroid {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
}

$gutter: 10px;

.picture { 
	float: left; 
	//margin-left: 28px;
	//margin-bottom: 28px;
	//overflow: hidden;
	//display: block;
	@include polaroid;
	background: #ebebeb;
	
	width: 208px;
    margin: $gutter;
	
}

.main {
	//margin-bottom: 200px;
	//padding-bottom: 30px;
	background: #fff;
	border: 8px solid #fff;
}

.ava_mini {

	float: left;
	margin-right: 8px;
}

.comment {
	border-bottom: 1px solid #ccc;
	padding: 8px 12px 8px 12px;
	font-size: 12px;
	min-height: 30px;
}

.comment p a {
	color: #555;
	text-decoration: none;
	//font-size: 14px;
	font-weight: bold;
	&:hover { text-decoration: underline; }
}

.comment p {
	margin-top: 0px;
	color: #666;
	margin-left: 38px;
	margin-bottom: 0;
}

a > img { 
	//margin-bottom: 20px; 
}

#pictures {
	//display: table;
	position: relative;
	margin-bottom: 1.5em;
	//overflow: visible;
	//margin-left: -28px;
	position: relative;
	margin-top: 1em;
	//min-height: 700px;
	padding: $gutter;
}

.fileupload-content {
	min-height: 100px;
}