@mixin polaroid {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
}

$gutter: 10px;

//$picture-size: 146px; // 5 columns
//$picture-size: 192px; // 4 columns
//$picture-size: 268px; // 3 columns
$picture-size: 392px; // 2 columns
//$picture-size: 876px; // 1 column

$big-picture-size: 804px;

.picture { 
	float: left; 
	//margin-left: 28px;
	//margin-bottom: 28px;
	//overflow: hidden;
	//display: block;
	@include polaroid;
	background: #ebebeb;
	
	width: $picture-size + 48;
    margin: $gutter;
	
}

.main a > img { 
	width: $picture-size;
}

.main {
	//margin-bottom: 200px;
	//padding-bottom: 30px;
	background: #fff;
	padding: 32px 24px 32px 24px;
}

.big {
	width: 900px;
	margin: 20px;
}

.big > .main {
	padding: 67px 48px 67px 48px;
}

.big > .main > img, .big > .main > a > img { width: $big-picture-size; }

.ava_mini {

	float: left;
	margin-right: 8px;
}

.comment, .action {
	border-bottom: 1px solid #ccc;
	padding: 16px 24px 16px 24px;
	font-size: 12px;
	min-height: 30px;
	display: inline-block;
	width: $picture-size;
}

.big .comment, .big .action {
	padding: 16px 48px 16px 48px;
	font-size: 16px;
	min-height: 30px;
	width: $big-picture-size;
}


#pictures {
	position: relative;
	margin-bottom: 1.5em;
	position: relative;
	padding: $gutter;
}

.fileupload-content {
	min-height: 100px;
}

.main { position: relative; }


.delete {
	position: absolute;
	z-index: 5;
	right: 8px;
	top: 8px;
	//display: none;
}

.big .delete {
	right: 24px;
	top: 24px;
}

