// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin polaroid {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4),inset 0 1px 1px #fff;
}

$columns: 4;
$img-width: 190px;
$user-width: $img-width;


// $gutter: ((932 - (($img-width + 16) * $columns)) / ($columns - 1)) ;
$gutter: 10px;




#users {
	position: relative;
	margin-bottom: 1.5em;
	position: relative;
	margin-top: 1em;
	padding: $gutter;
}


$top: ($img-width / 14);
$side: ($img-width / 18.66667);
.user {

	width: $user-width;
	float: left;
	background: #fff;
	@include polaroid;
	//padding: 8px;
	padding: $top $side $top $side;
	
}

.user { 
	
    margin: $gutter;
	
}

.user > a > img {
	width: $img-width;
	//border: 8px solid #fff;
}

.user h3 { margin: 0; margin-top: ($top / 2); }

.user a { text-decoration: none; color: #36c; }