<% unless flash[:notice].blank? %>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<% end %>
<% unless flash[:error].blank? %>	
	<div class="alert alert-error">
		<%= flash[:error] %>
	</div>
<% end %>
<% unless flash[:success].blank? %>	
	<div class="alert alert-success">
		<%= flash[:success] %>
	</div>
<% end %>